:root{
  --menu-color: #7F00FF;
  --audio-color: #7F00FF;
  --audio-color-mic: white;
  --slider-handle: #9d43f6;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-16px);
  }
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
.App {
  text-align: center;
}

.ui.secondary.pointing.menu {
  font-size: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.ui.secondary.pointing.menu  .active.item {
  border-color: var(--menu-color) !important;
}

.ui.secondary.pointing.menu  .active.item ,.item:hover {
  color: var(--menu-color) !important;
}

.ui.secondary.pointing.menu.fullNavBar {
  background-color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rc-slider-track, .rc-slider-tracks{
  background-color: var(--menu-color) !important;
}

.rc-slider-handle{
  border-color: var(--slider-handle) !important;
}

.rc-slider-dot-active {
  border-color: var(--slider-handle) !important;
}

.ui.secondary.pointing.menu .item.disabled 
{
  color: black !important;
}

.ui.secondary.pointing.menu.modes{
  width: fit-content;
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: #a3a1a1;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

textarea {
  width: 100%;
  height: 80%;
  padding: 20px 15px 15px 15px;
  border-radius: 15px;
  border-block-color: var(--slider-handle);
  border-block-width: 8px;
}

textarea:focus {
  border-block-color: var(--menu-color);
}

.row {
  height: 50vh;
}

.container {
  max-width: none;
}

.ui.button.text-submit 
{
  color: white;
}

.text-submit, .text-hearing-on, .text-hearing-off
{
  float: right;
  margin-right: 10px;
  background-color: var(--menu-color) !important;
  border-color: var(--menu-color) !important;
  border-radius: 15px !important;
}

.text-hearing-on, .text-hearing-off
{
  width: 40px;
}

.text-submit:hover, .text-hearing-on:hover
{
  background-color: var(--slider-handle) !important;
  border-color: var(--slider-handle) !important;
}
.text-hearing-off:hover
{
  background-color: #c9a1f4 !important;
  border-color: #c9a1f4 !important;
}

.text-hearing-on
{
  background-color: var(--audio-color) !important;
  border-color: var(--audio-color-mic) !important;
  color: var(--audio-color-mic) !important;
}

.text-submit:disabled, .text-hearing-off
{
  background-color: #d5bfec !important;
  border-color: #d5bfec !important;
}

.error-modal{
  background-color: orangered;
}

.error-modal-text{
  text-align: center;
}

#page-container {
  min-height: 100vh;
  position: relative;
  background-image: radial-gradient(circle, #F2F3F5 0%, #f7e9eb 100%);
}

#content-wrap {
  padding-bottom: 1.5rem;    /* Footer height */
}

#footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 1.5rem;
  bottom: 0.5px;
  background-color: var(--menu-color);
}

#website-rights {
  color: white;
  position: absolute;
  font-size: large;
  bottom: 0;
}

div.dim {
  width: 40vw;
  height: 50vh;
  background-color: rgba(0,0,0,.3);
  pointer-events: none;
  position: absolute;
  display: inline-block;
  top: 17vh;
  left: 10vw;
  z-index: 100;
}

.modal-text{
  text-align: center;
}

.dimmer-loader-text{
  padding: 20px;
}