:root{
  --menu-color: #7F00FF;
  --slider-handle: #9d43f6;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

.ui.secondary.pointing.menu {
  font-size: 13px;
}

.ui.secondary.pointing.menu  .active.item {
  border-color: var(--menu-color) !important;
}

.ui.secondary.pointing.menu  .active.item ,.item:hover {
  color: var(--menu-color) !important;
}
.rc-slider-track, .rc-slider-tracks{
  background-color: var(--menu-color) !important;
}
.rc-slider-handle{
  border-color: var(--slider-handle) !important;
}

.rc-slider-dot-active {
  border-color: var(--slider-handle) !important;
}

.ui.secondary.pointing.menu .item.disabled 
{
  color: black !important;
}

textarea {
  width: 100%;
  height: 80%;
}

.row {
  height: 250px;
}
/* .col{
  height: 200px;
} */

.container {
  max-width: none;
}

.text-box{
  margin: 10px;
  font-size: small;
}
.text-submit
{
  float: right;
  margin-right: 10px;
  background-color: var(--menu-color) !important;
  border-color: var(--menu-color) !important;
  border-radius: 15px !important;
}

