:root{
  --menu-color: #7F00FF;
  --audio-color: #0b405f;
  --slider-handle: #9d43f6;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

.ui.secondary.pointing.menu {
  font-size: 13px;
}

.ui.secondary.pointing.menu  .active.item {
  border-color: var(--menu-color) !important;
}

.ui.secondary.pointing.menu  .active.item ,.item:hover {
  color: var(--menu-color) !important;
}
.rc-slider-track, .rc-slider-tracks{
  background-color: var(--menu-color) !important;
}
.rc-slider-handle{
  border-color: var(--slider-handle) !important;
}

.rc-slider-dot-active {
  border-color: var(--slider-handle) !important;
}

.ui.secondary.pointing.menu .item.disabled 
{
  color: black !important;
}

textarea {
  width: 100%;
  height: 80%;
  padding: 20px 15px 15px 15px;
  border-radius: 15px;
  border-block-color: var(--slider-handle);
  border-block-width: 8px;
}

textarea:focus {
  border-block-color: var(--menu-color);
}


.row {
  height: 50vh;
}

.container {
  max-width: none;
}

.text-box{
  margin: 10px;
  font-size: small;
}
.ui.button.text-submit 
{
  color: white;
}
.text-submit, .text-hearing-on, .text-hearing-off
{
  float: right;
  margin-right: 10px;
  background-color: var(--menu-color) !important;
  border-color: var(--menu-color) !important;
  border-radius: 15px !important;
}
.text-hearing-on, .text-hearing-off
{
  width: 40px;
}

.text-submit:hover, .text-hearing-on:hover
{
  background-color: var(--slider-handle) !important;
  border-color: var(--slider-handle) !important;
}
.text-hearing-off:hover
{
  background-color: #c9a1f4 !important;
  border-color: #c9a1f4 !important;
}

.text-hearing-on:active:hover
{
  background-color: var(--audio-color) !important;
  border-color: var(--audio-color) !important;
}

.text-submit:disabled, .text-hearing-off
{
  background-color: #d5bfec !important;
  border-color: #d5bfec !important;
}

.tooltip-wrapper {
  display: inline-block; /* display: block works as well */
  margin: 50px; /* make some space so the tooltip is visible */
}

.tooltip-wrapper .btn[disabled] {
  /* don't let button block mouse events from reaching wrapper */
  pointer-events: none;
}

/*  */